@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;900&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, p {
    cursor: default;
}

.home_screen {

    .container {
        width: 100%;
    }

   // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/BRD_0432.jpg);
    background: url(../img/AdobeStock_91462031-scaled.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    .wrapper {
        display: flex;
        place-content: space-between;
    }
    .left-col {

        .logo {
            font-weight: 600;
            font-size: 1.6em;
            margin: 0;
            padding-top: 0.25em;
            padding-left: 2em;
            color: white;
        }
    }
    .right-col {
        right: 0;
     //   background-color: rgba(163, 162, 162, 0.5);
        backdrop-filter: blur(10px);
        padding:0 1em;
        height: 80vh;
        z-index: 0;
       

        .navbar {

            .primary_nav {

                list-style-type: none;
                padding: 0 2em;
                display: flex;
                place-content: space-between;

                li {

                    
                    a {
                        text-decoration: none;
                        padding: 0.5em 0;
                        font-size: 0.8em;
                        color: rgb(255, 255, 255);
                    }
                }
            }
        }

        .text_wrapper {
            padding: 2em 4em;
            width: 35vw;
        }
        
        h1 {
            color: white;
            letter-spacing: 1.3px;
            font-weight: 600;
            font-size: 2em;
            margin: 4em 0;
        }

        p {
            color: white;
            font-size: 1em;
            margin-bottom: 2em;
        }

        .btn {
            text-decoration: none;
            color: white;
            border: 1px solid white;
           // border-radius: 2em;
            padding: 0.5em 2em;
            background-color: rgb(206, 107, 14);
            margin: 2em 0;
            border: none;
            box-shadow: 2px 3px 15px gray;
        }
    }

}

.about {

    h2 {
        font-weight: 600;
        font-size: 2em;
        margin-bottom: 0;
    }

    .contact-block {

        .wrapper {
            display: flex;
            place-content: center;
            padding: 4em 0;

            .block {
                width: 250px;
                text-align: center;

                img {
                    width: 70px;
                }

                h4 {
                    font-weight: 600;
                }
            }
        }
    }
}

.footer {
    background: rgb(31, 30, 30);
    
    h4, p {
        margin: 0;
        color: white;
    }

    h4 {
        font-weight: 600;
        font-size: 1em;
        display: block;
        //border-bottom: 2px solid rgb(206, 107, 14);
    }

    .logo {
        border: none;
        font-size: 2em;
    }
    
    p, a {
        padding: 1em 0;
        font-size: 0.8em;
    }

    .wrapper {

        display: flex;
        place-content: space-between;
        padding: 3em 0;
       

        .mid-col, .right-col {
            width: 300px;
        } 

        .left-col {
            width: 300px;
        }

        .mid-col {

            ul {
                padding: 0;
            }
            li {
                list-style-type: none;
                padding-bottom: 0.5em;
            }

            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}