@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;900&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, p {
    cursor: default;
}

.mobile-menu2, .navbar2 {
    display: none;
}

.mobile-menu {
    cursor: pointer;
}

.navbar {
    display: block;
}

.menu-btn  {
    display: block;
}

.mobile-menu-exit, .mobile-menu {
    display: none;
}

.home_screen {

    .container {
        width: 100%;
    }

   // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/BRD_0432.jpg);
    background: url(../img/AdobeStock_91462031-scaled.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    .wrapper {
        display: flex;
        place-content: space-between;
    }
    .left-col {

        .logo {
            font-weight: 600;
            font-size: 1.6em;
            margin: 0;
            padding-top: 0.25em;
            padding-left: 2em;
            color: white;
        }
    }
    .right-col {
        right: 0;
     //   background-color: rgba(163, 162, 162, 0.5);
        backdrop-filter: blur(10px);
        height: 100vh;
        padding:0 1em;
       

        .navbar {

            .primary_nav {

                list-style-type: none;
                padding: 0 2em;
                display: flex;
                place-content: space-between;

                li {

                    
                    a {
                        text-decoration: none;
                        padding: 0.5em 0;
                        font-size: 0.8em;
                        color: rgb(255, 255, 255);
                    }
                }
            }
        }

        .text_wrapper {
            padding: 2em 4em;
            width: 35vw;
        }
        
        h1 {
            color: white;
            letter-spacing: 1.3px;
            font-weight: 600;
            font-size: 2em;
        }

        p {
            color: white;
            font-size: 1em;
            margin-bottom: 2em;
        }

        .btn {
            text-decoration: none;
            color: white;
            border: 1px solid white;
           // border-radius: 2em;
            padding: 0.5em 2em;
            background-color: rgb(206, 107, 14);
            margin: 2em 0;
            border: none;
            box-shadow: 2px 3px 15px gray;
        }
    }

}

.profile {


    .profile-header {

        .text-block {
            margin: auto 0;
        }

        margin: 3em 0;
        display: flex;
        place-content: space-between;
        border-bottom: 2px solid gray;
        height: 150px;

        p {
        font-size: 0.8em;
        }

        img {
            width: 40px;
            height: 40px;
            margin: auto 0;
        }

    }
    
    .wrapper {
        display: flex;
        place-content: space-between;
    }


    .left-col {

        position: relative;
       // padding: 2em 2em;
        width: 30%;
        box-shadow: 2px 3px 15px gray;

        .number {
            font-size: 3em;
            font-weight: 600;
            padding: 0.2em 0.2em;
            position: absolute;
            margin: 0;
            color: rgb(206, 107, 14);
            display: inline-block;
            border: 4px solid rgb(206, 107, 14);
            
        }

        .block {

            background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../img/BRD_0313.jpg);
            background-size: cover;
            height: 500px;
            vertical-align:bottom;

            .text-block {
                
                position: absolute;
                float: 0;
                bottom: 0;
                padding: 1em 2em;
                background: linear-gradient(rgba(131, 125, 125, 0.5), rgba(131, 125, 125, 0.5));
                backdrop-filter: blur(10px);
                box-sizing: border-box;
                width: 100%;
               // height: 250px;

                h3 {
                    color: white;
                    font-size: 2em;
                    font-weight: 600;
                }

                p {
                    color: white;
                    font-size: 0.8em;
                    height: 5em;
                }
            }
        }

    }

    .mid-col {
        .block {
            background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../img/Фото1_20.JPG);
            background-size: cover;
            background-position: center;
        }
    }

    .right-col {
        .block {
            background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../img/2018-986-AaronMachineShop-GeneralmachininginCalgaryAlberta.jpg);
            background-position: left;
            background-size: cover;
        }
    }
}

.features {

   // background-color: #f5f5f5;

    background: rgb(238,238,238);
    background: -moz-linear-gradient(0deg, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(0deg, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeeeee",endColorstr="#ffffff",GradientType=1);
    padding-bottom: 94px;
    .features-header {
        .text-block {
            margin: auto 0;
        }

        margin: 3em 0;
        display: flex;
        place-content: space-between;
        border-bottom: 2px solid gray;
        height: 150px;

        p {
        font-size: 0.8em;
        }

        img {
            width: 40px;
            height: 40px;
            margin: auto 0;
        }

    }

    .block {
        width: 100%;
        background-color: white;
        box-shadow: 2px 3px 15px gray;
        
        .wrapper {
            display: flex;

            .left-col {
                width: 40%;
                background: url(../img/Фото1_8.JPG);
                background-size: cover;
                background-position: center;
            }

            .items-block {
                width: 60%;

                table {
                    
                    .img-block {
                        display:inline-block;
                    }

                    .icon {
                        width: 80px;
                        //margin: 0 8em;;
                        display: inline-block;
                    }

                    h4 {
                        font-weight: 400;
                        text-align: center;
                        
                    }

                    td {
                        padding: 2em 1em;
                        width: 50%;
                        align-items: center;
                        box-sizing: border-box;
                    }

                    tr.hide-main {
                        display: none;
                    }
                }
            }
        }
    }
}

.contact-us {
    background: linear-gradient(rgba(238,238,238,1), 15%, transparent), url(../img/Фото1_19.JPG);
    background-size: cover;
    background-position: center;
   // height: 300px;
    vertical-align: middle;
    position: relative;

    .contact-block {
        display: inline-block;
        padding-top: 7em;
        padding-bottom: 7em;
    } 

    h2 {
        margin: 0;
        color: white;
        font-size: 2em;
        font-weight: 600;
    }

    p {
        margin-bottom: 3em;
        color: white;
    }

    .btn {
        text-decoration: none;
        color: white;
        border: 1px solid white;
       // border-radius: 2em;
        padding: 0.5em 2em;
        background-color: rgb(206, 107, 14);
        margin: 2em 0;
        border: none;
        box-shadow: 2px 3px 15px gray;
    }

}

.footer {
    background: rgb(31, 30, 30);
    
    h4, p {
        margin: 0;
        color: white;
    }

    h4 {
        font-weight: 600;
        font-size: 1em;
        display: block;
        //border-bottom: 2px solid rgb(206, 107, 14);
    }

    .logo {
        border: none;
        font-size: 2em;
    }
    
    p, a {
        padding: 1em 0;
        font-size: 0.8em;
    }

    .wrapper {

        display: flex;
        place-content: space-between;
        padding: 3em 0;
       

        .mid-col, .right-col {
            width: 300px;
        } 

        .left-col {
            width: 300px;
        }

        .mid-col {

            ul {
                padding: 0;
            }
            li {
                list-style-type: none;
                padding-bottom: 0.5em;
            }

            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}

@media screen and (max-width: 1250px) {
    .container {
        width: 80%;
    }

    .profile .left-col .block .text-block h3 {
        font-size: 1em;
    }

    .profile .left-col .block .text-block {
        height: 45%;
    }
}

@media screen and (max-width: 1135px) {
    .home_screen .right-col h1 {
        font-size: 1em;
        letter-spacing: 0;
    }

    .home_screen .right-col p {
        font-size: 0.7em;
    }

    .btn {
        font-size: 0.7em;
    }

    .contact-us h2 {
        font-size: 1em;
    }
    .contact-us p {
        font-size: 0.7em;
    }

    h2 {
        font-size: 1em; 
    }

    .home_screen .right-col {
        height: 100%;
    }

    .home_screen {
        height: auto;
    }

    p {
        font-size: 1em;
    }

    .profile .left-col .number {
        font-size: 2em;
    }

    .contact-us .contact-block {
        padding: 2em;
    }

    .contact-us {
        height: 100%;
    }

    h4 {
        font-size: 1em;
    }

    .profile .wrapper {
        height: 500px;
    }

    .profile .right-col .block, .profile .mid-col .block, .profile .left-col .block {
        height: 100%;
    }
}

@media screen and (max-width: 1005px) {
    .features .block .wrapper .items-block table h4 {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 960px) {
    .profile .wrapper {
        display: flow-root;
        height: 100%;
    }

    .profile .left-col .number {
      position: static;
      border: none;
    }

    .profile .left-col .block .text-block {
        position: absolute;
        bottom: 0;
    
    }

    .profile .left-col {
        position: relative;
        height: 300px;
    }

    .profile .left-col {
        width: 100%;
        background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../img/BRD_0313.jpg);
        background-size: cover;
    }

    .profile .mid-col {
        width: 100%;
        background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../img/Photo1_20.JPG);
        background-size: cover;
    }

    .profile .right-col {
        width: 100%;
        background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../img/2018-986-AaronMachineShop-GeneralmachininginCalgaryAlberta.jpg);
        background-size: cover;
    }

    .profile .left-col {
        margin: 1em 0;
    }

    .profile .left-col .block {
        background: none;
    }

    .profile .profile-header {
        margin: 1em 0;
    }

    .features .features-header {
        margin: 1em 0;
    }

    .features .block .wrapper .items-block table td {
        padding: 1em;
        
    }

    .features .block .wrapper .items-block table .icon {
        width: 50px;
    }

    .profile .left-col .block .text-block p {
        height: 100%;
    }

    .profile .profile-header, .features .features-header {
        height: 100%;
    }

    .profile .left-col {
        margin-top: 0;
    }

    .features .block .wrapper {
        display: flow-root;
    }

    .features .block .wrapper .left-col {
        height: 200px;
        width: 100%;
    }
    .features .block .wrapper .items-block {
        width: 100%;

    }

    .footer p {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 980px) {
    .footer .wrapper .left-col, .footer .wrapper .left-col, .footer .wrapper .left-col {
        padding: 0 2em;
    }
}

@media screen and (max-width: 710px) {
    
    .mobile-menu, .navbar {
        display: none;
    }
    
    .navbar2 {
        display: none;
    }
    
    .mobile-menu-exit2, .mobile-menu2 {
        display: block;
        width: 30px;
    }

    .mobile-menu2 {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 999;
        padding: 0.5em;
    }

    .home_screen .left-col .logo {
        padding-top: 0.2em;
    }

    .mobile-menu2 {
        float: right;
    }

    .menu-btn  {
        display: block;
    }

    .profile .left-col {
        z-index: -1;
    }

    .navbar2 {
        position: fixed;
        background-color: gray;
        z-index: 999;
        right: 0;
        top: 0;
        height: 100vh;
        width: 60vw;
    }


    .home_screen .right-col .navbar .primary_nav2 {
        display: flow-root;
    }

    .footer .wrapper .mid-col {
        display: none;
    }
}

@media screen and (max-width: 710px) {
    .home_screen .right-col {
        backdrop-filter: none;
    }

    .home_screen .container {
        width: 80%;
    }

    .home_screen .wrapper {
        display: flow-root;
        width: 80vw;
    }
    .home_screen .right-col {
        width: 100%;
        padding: 0;
        place-content: center;

    }

    .home_screen .left-col .logo {
        padding-left: 0.5em;
        position: absolute;
        left: 0;
    }

    .home_screen .right-col .text_wrapper {
        width: 100%;
        padding: 4em 0;
        margin: 0 auto;
    }

    .features .block .wrapper .items-block table td {
        padding: 0;
    }

    table { 
        padding: 1em;
    }

    .profile .left-col .block .text-block {
        height: 55%;
    }
}

@media screen and (max-width: 450px) {

    td.hide {
        display: none;
    }
    
    .features .block .wrapper .items-block table tr.hide-main {
        display: table-row;
    }
    
    .footer .wrapper {
        display: flow-root;
        padding: 1em 0;
    }

    .footer .wrapper .left-col {
        padding: 2em 0;
        text-align: center;
        width: 80vw;
    }

    .footer .wrapper .right-col {
        text-align: center;
        width: 80vw;
    }

    .contact-us .contact-block {
        padding-left: 0;
    }

    .contact-us .btn, .home_screen .right-col .btn {
        width: 80vw;
    }
}

@media screen and (max-width: 380px) {
    .profile .left-col {
        height: 350px;
    }
}

@media screen and (max-width: 370px) {
    .profile .left-col {
        height: 400px;
    }
}

@media screen and (max-width: 305px) {
    .profile .left-col {
        height: 450px;
    }
}



