@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;900&display=swap");
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, p {
  cursor: default;
}

.home_screen {
  background: url(../img/AdobeStock_91462031-scaled.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home_screen .container {
  width: 100%;
}

.home_screen .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.home_screen .left-col .logo {
  font-weight: 600;
  font-size: 1.6em;
  margin: 0;
  padding-top: 0.25em;
  padding-left: 2em;
  color: white;
}

.home_screen .right-col {
  right: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 0 1em;
  height: 80vh;
  z-index: 0;
}

.home_screen .right-col .navbar .primary_nav {
  list-style-type: none;
  padding: 0 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.home_screen .right-col .navbar .primary_nav li a {
  text-decoration: none;
  padding: 0.5em 0;
  font-size: 0.8em;
  color: white;
}

.home_screen .right-col .text_wrapper {
  padding: 2em 4em;
  width: 35vw;
}

.home_screen .right-col h1 {
  color: white;
  letter-spacing: 1.3px;
  font-weight: 600;
  font-size: 2em;
  margin: 4em 0;
}

.home_screen .right-col p {
  color: white;
  font-size: 1em;
  margin-bottom: 2em;
}

.home_screen .right-col .btn {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 0.5em 2em;
  background-color: #ce6b0e;
  margin: 2em 0;
  border: none;
  -webkit-box-shadow: 2px 3px 15px gray;
          box-shadow: 2px 3px 15px gray;
}

.sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: end;
  -webkit-box-shadow: 2px 2px 5px gray;
          box-shadow: 2px 2px 5px gray;
}

.sub-menu .wrapper {
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: end;
  margin-right: -5em;
}

.sub-menu .wrapper .block {
  padding: 2em 3em;
  width: 250px;
  margin: 0 0;
}

.sub-menu .wrapper .block h4 {
  font-weight: 600;
  font-size: 1.2em;
  margin: 0;
  color: black;
}

.profile .head-block .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em 0;
  border-bottom: 2px solid gray;
}

.profile .head-block .wrapper h2 {
  font-weight: 600;
  font-size: 2em;
  margin-bottom: 0;
}

.profile .head-block .wrapper .number {
  padding-right: 1em;
  font-size: 2em;
  font-weight: 400;
}

.profile .head-block .wrapper p {
  margin: 0;
}

.profile .description-block .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  padding: 2em 0;
}

.profile .description-block .wrapper .left-col {
  width: 500px;
}

.profile .description-block .wrapper .left-col .list {
  padding: 1em;
}

.profile .description-block .wrapper .left-col p {
  font-size: 1.5em;
}

.profile .description-block .wrapper .left-col .tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 0;
}

.profile .description-block .wrapper .left-col .tr p {
  width: 200px;
  font-size: 1em;
  margin: 0;
}

.profile .description-block .wrapper .left-col .tr h4 {
  width: 25px;
  margin: 0;
  font-weight: 400;
  color: #ce6b0e;
}

.profile .description-block .wrapper .right-col {
  width: 50%;
  background: url(../img/BRD_0313.jpg);
  background-size: cover;
  -webkit-box-shadow: 2px 2px 5px gray;
          box-shadow: 2px 2px 5px gray;
}

.profile .item-list .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  padding: 2em 0;
}

.profile .item-list .wrapper .left-col {
  width: 50%;
  background: url(../img/Фото1_20.JPG);
  background-size: cover;
  -webkit-box-shadow: 2px 2px 5px gray;
          box-shadow: 2px 2px 5px gray;
}

.profile .item-list .wrapper .right-col {
  width: 50%;
}

.profile .item-list .wrapper .right-col li {
  list-style-type: none;
  position: relative;
  vertical-align: center;
  border-bottom: 1px solid #ce6b0e;
  font-size: 1.5em;
  padding: 0.5em 0;
}

.profile .item-list .wrapper .right-col li img {
  width: 30px;
}

.profile .services .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
}

.profile .services .wrapper .block {
  width: 25%;
  height: 500px;
  vertical-align: middle;
  margin: 2em 2em 5em 2em;
  -webkit-box-shadow: 2px 2px 5px gray;
          box-shadow: 2px 2px 5px gray;
  position: relative;
}

.profile .services .wrapper .block h4 {
  margin: auto 0;
  color: white;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  text-align: center;
  font-weight: 600;
  font-size: 1.3em;
  padding: 2em 2em;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 8em;
  background-color: rgba(131, 125, 125, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.profile .services .wrapper .metal {
  background: url(../img/BRD_0413.jpg);
  background-size: cover;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.profile .services .wrapper .welding {
  background: url(../img/2018-986-AaronMachineShop-GeneralmachininginCalgaryAlberta.jpg);
  background-size: cover;
  background-position: top;
}

.profile .services .wrapper .plastic {
  background: url(../img/BRD_0373.jpg);
  background-size: cover;
  background-position: center;
}

.footer {
  background: #1f1e1e;
}

.footer h4, .footer p {
  margin: 0;
  color: white;
}

.footer h4 {
  font-weight: 600;
  font-size: 1em;
  display: block;
}

.footer .logo {
  border: none;
  font-size: 2em;
}

.footer p, .footer a {
  padding: 1em 0;
  font-size: 0.8em;
}

.footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  padding: 3em 0;
}

.footer .wrapper .mid-col, .footer .wrapper .right-col {
  width: 300px;
}

.footer .wrapper .left-col {
  width: 300px;
}

.footer .wrapper .mid-col ul {
  padding: 0;
}

.footer .wrapper .mid-col li {
  list-style-type: none;
  padding-bottom: 0.5em;
}

.footer .wrapper .mid-col a {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=services.css.map */